@tailwind base;

@tailwind components;



/****************************  UTILITIES ****************************/
body {
    @apply text-white bg-indigo-darker;
    font-family: 'Roboto', sans-serif;
}

.h1 {
    @apply font-thin text-3xl;
}

.h2 {
    @apply text-xl font-light;
}

.h3 {
    @apply text-lg font-light;
}

.subtitle {
    @apply text-subtitle text-sm;
}

.btn {
    @apply px-4 rounded-lg bg-blue-accent text-white border-2 border-blue-accent duration-75;
}

.btn, button {
    @apply leading-none py-2;
}

.btn:focus {
    @apply outline-none;
}

.btn--outline {
    @apply bg-opacity-0 text-blue-accent;
}

.btn:hover {
    @apply btn--outline;
}

.btn--outline:hover {
    @apply text-white bg-opacity-100;
}

.outline--red {
    @apply text-red border-red;
}

.outline--red:hover {
    @apply bg-red;
}

input[type=file]::file-selector-button { // Custom input type file button
    @apply btn btn--outline;
}

input[type=file]::-webkit-file-upload-button { // Custom input type file button
    @apply btn btn--outline;
}

input[type=file]::file-selector-button:focus {
    @apply outline-none border-2 border-blue-accent;
}

input[type=file]::-webkit-file-upload-button:focus {
    @apply outline-none border-2 border-blue-accent;
}

input[type=file]::file-selector-button:hover {
    @apply cursor-pointer;
}

input[type=file]::-webkit-file-upload-button:hover {
    @apply cursor-pointer;
}

input[type=file]:hover {
    @apply cursor-pointer;
}

.text-stroke-0 {
    -webkit-text-stroke: 0;
}

.text-stroke-1 {
    -webkit-text-stroke: 0.04em;
}

a {
    @apply text-blue-accent;
}

a.link:hover {
    @apply text-stroke-1;
}

.link-soft {
    @apply text-white font-bold cursor-pointer;
}

.link-soft:hover {
    @apply underline;
}

.subtitle.link-soft {
    @apply text-subtitle;
}

.subtitle.link-soft:hover {
    @apply text-white no-underline;
}

.container-bg {
    @apply pb-32 pt-10 bg-indigo-dark;
}

.container {
    @apply mx-auto px-4;
}

.container-content {
    @apply mx-auto;
}

.form-input-dark {
    @apply mt-4 p-2 pl-4 bg-indigo-input rounded-md text-sm outline-none text-white text-opacity-50 w-full;
}

.input__tooltip {
    @apply ml-2 mt-6 -mr-10;
}

.form-label {
    @apply text-white block;
}

.form__error {
    @apply text-red text-xs italic;
}

/* Ensure browser compatibility for translate properties*/
.-translate-y-1\/2 {
    transform: translateY(-50%);
}

.title__double {
    text-shadow: 0px -4px 0px #FFFFFF;
}

.title__double--small {
    text-shadow: 0px -2px 0px #FFFFFF;
}

.flash-alert {
    @apply mb-6 p-5 rounded-sm;
}






/****************************  HEADER STUFF ****************************/
.header {
    @apply bg-indigo-normal py-6 px-4;
}

.menu-link {
    @apply text-lg font-light text-white;
}

.menu-link:hover {
    @apply text-stroke-1;
}

.header__li--mobile {
    @apply p-4 border-t bg-indigo-input;
}

.menu-active {
    @apply font-normal underline;
}







/*************************** PAGE CONTENT ****************************/
.container-box {
    @apply bg-indigo-lighter px-5 py-2 rounded-lg mx-auto;
    box-shadow: #121119 0 4px;
}

.item-content {
    @apply flex justify-between items-center transition-all duration-75;
}

.rating {
    @apply text-center px-2 bg-red rounded-lg text-sm inline-block flex-shrink-0;
    min-width: 3rem;
}

.logo {
    @apply relative rounded-full w-full overflow-hidden text-white bg-indigo-darker
    bg-no-repeat bg-center bg-cover /* For logo image */
    flex justify-center items-center text-4xl font-thin title__double; /* For initials characters */
    height: 0;
    padding-bottom: 50%;
    padding-top: 50%;
}

.logo.small {
    @apply text-2xl title__double--small;
}

.dark-border {
    box-shadow: 0 0 0 6px #121119; /* Use box-shadow instead of border to avoid size deformation */
}

.explore__cards {
    @apply flex flex-no-wrap overflow-x-scroll;
}

.explore__card--project {
    @apply flex-grow-0 flex-shrink-0 max-w-full mx-2;
}

.explore__cards::-webkit-scrollbar {
    width: 1em;
}

.explore__cards::-webkit-scrollbar-track {
    @apply rounded-md bg-subtitle;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.explore__cards::-webkit-scrollbar-thumb {
    @apply rounded-md bg-indigo-normal;
}
.explore__cards::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-dark;
}

.vote {
    @apply subtitle text-center flex flex-col;
}

.arrow {
    @apply p-0 text-xl cursor-pointer text-subtitle duration-100;
}

.arrow:focus {
    @apply outline-none;
}

.arrow:active {
    transform: scale(0.9);
}

.upvoted {
    @apply text-green font-bold;
}

.downvoted {
    @apply text-red font-bold;
}

.arrow--up:hover {
    @apply upvoted;
}

.arrow--down:hover {
    @apply downvoted;
}

.vote--lg {
    @apply block text-2xl;
}

.vote--lg .arrow {
    @apply text-3xl;
}

.pagination-custom > nav {
    @apply mt-8 flex flex-row items-center justify-center;
}

.pagination-custom > nav > ul {
    @apply flex flex-row w-24 justify-around;
}

.pagination-custom > nav > ul > li {
    @apply text-xl font-bold;
}

.comment {
    @apply pt-2 self-stretch;
}

.comment .comment {
    @apply ml-2;
}






/*************************** MEDIA QUERIES ***************************/
@screen md {
    .project-logo {
        @apply w-24 h-24 mb-0;
    }
    .container-content {
        @apply w-8/12;
    }
    .comment .comment {
        @apply ml-4;
    }

    .explore__card--project {
        @apply mx-4 mb-4 flex-grow-0 flex-shrink-0 max-w-sm;
    }
}

@screen lg {
    .project-logo {
        @apply w-32 h-32;
    }
}




@tailwind utilities;
